/* inter */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

.conteyner{
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    margin: auto;
}

.signup{
    width: 100%;
    height: 48px;
    background-color: #35B8BE;
    display: flex;
    align-items: center;
    justify-content: center;
}

.signup__paragf{
    font-family: "Inter", sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #ffffff;
}

.signup__paragff{
    font-weight: 600;
}

.header{
    width: 100%;
    height: 100px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__nav{
    display: flex;
    align-items: center;
    gap: 40px;
}

.header__nav--link{
    font-family: "Inter", sans-serif;
    font-size: 15px;
    font-weight: 400;
}

.header__nav--link:active{
    color: #35B8BE;
    font-weight: 600;
}

.kubik{
    width: 55px;
    height: 55px;
    background-color: #35B8BE;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
}


/* section */
.section{
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
}

.section__text--text{
    width: 560px;
    font-family: "Inter", sans-serif;
    font-size: 60px;
    font-weight: 400;
}

.section__text--span{
    color: #35B8BE;
}

.section__text--paragf{
    width: 500px;
    font-family: "Inter", sans-serif;
    font-size: 18px;
    font-weight: 400;
    margin-top: 30px;
    margin-bottom: 55px;
    color: #546285;
}

.section__text--btn{
    display: block;
    padding: 20px 30px;
    border: none;
    border-radius: 6px;
    background-color: #35B8BE;
    font-family: "Inter", sans-serif;
    font-size: 17px;
    font-weight: 400;
    color: white;
    margin-bottom: 40px;
}

.section__text--par{
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #08090A;
}

.section__text--spanp{
    color: #35B8BE;
    margin-top: 15px;
}

