* {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
    text-decoration: none;
}

.contener {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 50px;
}

.div {
    width: 1200px;
    height: 600px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.div__box--img {
    width: 500px;
    height: 500px;
    margin-right: 100px;
}

.div__boxes--forst {
    width: 500px;
    height: 200px;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.boxes__forst--text {
    font-size: 30px;
    margin-right: 50px;
    color: #35B8BE;
}

.boxes__forst--paragref {
    margin-top: 50px;
    margin-right: 50px;
    color: #546285;
}

.boxes__forst--btn {
    margin-top: 100px;
    margin-right: 400px;
    padding: 10px 10px;
    border-radius: 10px;
    background-color: #35B8BE;
    color: #FFFFFF;
    border: none;
}

.second {
    width: 1500px;
    height: 600px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    background-color: #F5FBFC;
}

.second__one {
    width: 500px;
    margin-right: 100px;
    margin-top: -100px;
    margin-left: 100px;
}

.second__one--text {
    width: 500px;
    height: 100px;
    font-size: 55px;
    margin-top: -50px;
    color: #35B8BE;
}

.second__one--paragref {
    margin-top: 100px;
    font-size: 18px;
    color: #546285;
}

.second__one--btn {
    margin-right: 400px;
    margin-top: 50px;
    background-color: #35B8BE;
    color: #FFFFFF;
    border-radius: 5px;
    border: none;
    padding: 15px 15px;
}

.second__two {
    width: 500px;
    margin-right: 100px;
    margin-top: 50px;
}